<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="schema.rnc" type="application/relax-ng-compact-syntax"?>
<events>
 <track type="1" name="early">
  <event>
    <title>Glorbus the Destroyer invades Siberia</title>
    <date type="start">
      <year>3000</year>
      <month>12</month>
      <day>31</day>
      <era>BC</era>
    </date>
    <date type="end">
      <year>2999</year>
      <month>1</month>
      <day>1</day>
      <era>BC</era>
    </date>
    <description>Glorbus conquers and sets up a base in the middle of a snowy wasteland near the modern day city of... umm</description>
    <lat>68.252441</lat>
    <lon>111.051612</lon>
  </event>

  <event>
    <title>Glorbian Civil War Ends in Stalemate</title>
    <date type="start">
      <year>2990</year>
      <month>05</month>
      <day>18</day>
      <era>BC</era>
    </date>
    <date type="end">
    <year>20</year>
    <month>11</month>
      <day>3</day>
    <era>BC</era>
    </date>
    <description>Peace is made between Glorbus the Destroyer and Glimbo the Meek after a long, drawn out conflict</description>
    <lat>45.771965</lat>
    <lon>-71.926539</lon>
  </event>
  </track>
 
 <track type="2" name="mid">
  <event>
    <title>Establishment of Glorbite Democratic Council of Representative Free Delegates</title>
    <date type="start">
      <year>150</year>
      <month>07</month>
      <day>14</day>
      <era>AD</era>
    </date>
    <description>The GDCRFD formalize their control over the now Glorbite Republic, succeeding the Glorbite Empire</description>
    <lat>7.905782862973762</lat>
    <lon>-77.40341597568624</lon>
  </event>
 
  <event>
    <title>Quick Pit Stop in Rio</title>
    <date type="start">
      <year>153</year>
      <month>01</month>
      <day>19</day>
      <era>AD</era>
    </date>
    <date type="end">
      <year>2050</year>
      <month>2</month>
      <day>29</day>
      <era>AD</era>
    </date>
    <description>The GDCRFD decide that, to help moral, they should take a quick break from governing and pick it up later</description>
    <lat>-22.951752</lat>
    <lon>-43.210455</lon>
  </event>
 </track>
  

<track type="3" name="late">
  <event>
    <title>Startling Realization</title>
    <date type="start">
      <year>2020</year>
      <month>3</month>
      <day>13</day>
      <era>AD</era>
    </date>
    <description>Uhmm.. sorry. How long was I asleep? Crap! What's this weird statue?</description>
    <lat>-22.951752</lat>
    <lon>-43.210455</lon>
  </event>

  <event>
    <title>Glimbo the Meek's Redemption</title>
    <date type="start">
      <year>2026</year>
      <month>9</month>
      <day>14</day>
      <era>AD</era>
    </date>
    <description>Is the war truly over or will Glimbo stage Glorbite Civil War: Part Two? Find out Next Summer</description>
    <lat>34.13413577626753</lat>
    <lon>-118.32154151648074</lon>
  </event>
 </track>
</events>